<div class="container" id="ctnInfoContrato">
    <form [formGroup]="contractForm">
  <div class="row space-rows">
    <div class="col-md">
      <label>{{'ADMIN_ACCOUNT.CONTRACT_LABEL'|translate}}</label>
      <input class="form-control form-control-sm" id="contractNumber" name="contractNumber" type="number" max="9999999999" maxlength="15" size="30" [(ngModel)]="contractNumber" formControlName="contractNumber" (ngModelChange)="validateLenght('contractNumber',15)" required>
    </div>
    <div class="col-md">
      <label>{{'ADMIN_ACCOUNT.START_DATE_LABEL'|translate}}</label>
      <input class="form-control form-control-sm" id="dateStart_contract" name="dateStart_contract" [(ngModel)]="dateStart_contract" formControlName="dateStart_contract" type="date" required>
    </div>
    <div class="col-md">
      <label>{{'ADMIN_ACCOUNT.END_DATE_LABEL'|translate}}</label>
      <input class="form-control form-control-sm" id="dateEnd_contract" name="dateEnd_contract" [(ngModel)]="dateEnd_contract" formControlName="dateEnd_contract" type="date" required>
    </div>
  </div>

  <div class="row space-rows">
    <div class="col-md">
      <label>{{'ADMIN_ACCOUNT.STATUS_LABEL'|translate}}</label>
      <select class="form-control form-control-sm" id="statusContract" name="statusContract" [(ngModel)]="statusContract" formControlName="statusContract" required>
        <option value="" disabled selected>{{'CHECK_LIST.SELECT_LABEL'|translate}}</option>
        <option *ngFor="let status of statusContract_data" value="{{status.pkCtstId}}">{{status.ctstName}} </option>
      </select>
    </div>
    <div class="col-md align-self-end">
      <button pButton type="submit" class="ui-button-secondary" style="margin-top: 25px" label="{{'ADMIN_ACCOUNT.SAVE_BUTTON'|translate}}" (click)="actionContract(pkContId,pkMapeId)" [disabled]="!contractForm.valid || loading"></button>
    </div>
    <div class="col-md"></div>
  </div>
  <p-progressBar mode="indeterminate" *ngIf='loading' [style]="{'margin-top':'20px', 'margin-bottom':'20px', 'height': '6px'}" ></p-progressBar>
  </form>

  <div class="row space-rows">
    <p-table [resizableColumns]="true" [value]="filteredList" [paginator]="true" [rows]="5">
        <ng-template pTemplate="caption">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" maxlength="35" placeholder="{{'ADMIN_ACCOUNT.BUTTON_SEARCH'|translate}}" [(ngModel)]="filterText" (ngModelChange)="filter()" style="width:auto">
              <p style="position:absolute; top:10px; right: 50px; color:#333; font-weight: 500">Ayuda</p><i style="background-color:#0470B0!important;" class="fas fa-info help-tip">
                <p>
                    <i class="fas fa-times"></i> &nbsp;&nbsp;Eliminar Contrato
                    <br>
                    <br>
                    <i class="fas fa-pencil-alt"></i> &nbsp;Actualizar Contrato
                    <br>
                    <br>
                    <i class="fas fa-car"></i> &nbsp;Asignar Vehículos a Contratos
                </p>
                </i>        
          </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="word-wrap: break-word; text-align:center;" [pSortableColumn]="col.field" *ngFor="let col of cols">
                    {{col.header|translate}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th style="word-wrap: break-word; text-align:center;width: 170px">{{'ADMIN_ACCOUNT.ACTION_TABLE'|translate}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr>
                <td style="word-wrap: break-word" id="prueba" *ngFor="let col of cols">
                    <ng-container
                        *ngIf="col.type === 'date'; then colDate; else colText">
                    </ng-container>
                    <ng-template #colDate>
                        {{data[col.field] | date:'dd-MMM-yyyy'}}
                    </ng-template>
                    <ng-template #colText>
                        {{data[col.field]|translate}}
                    </ng-template>
                </td>
              <td>
                <div style="display: flex; justify-content: center;"  class="mx-auto">
                <button pButton type="button" icon="fas fa-times" style=" margin-right:3%;" class="btn  ui-button-danger btn-enable"  (click)="bindinDelete(data.pkContId)" data-toggle="modal" data-target="#ContractModal"></button>
                <button pButton type="button" icon="fas fa-pencil-alt" style=" margin-right:3%;" class="btn  ui-button-secondary btn-disable" (click)="showContract(data)"></button>
                <button pButton type="button" icon="fas fa-car" (click)="clearFilter()"   class="btn  ui-button-black btn-enable" style=" margin-right:3%;" (click)="showVehicles(data.pkContId);"  data-toggle="modal" data-target="#ModalVehicle"></button>
                </div>
              </td>  
            </tr>
        </ng-template>
    </p-table>
  </div>
    <!-- Modal ON -->
    <div class="modal fade" id="ModalVehicle" tabindex="-1" role="dialog" aria-labelledby="ModalVehicle" aria-hidden="true">
        <div style="max-width: 600px;" class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{'ADMIN_ACCOUNT.BUTTON_VEHICLE'|translate}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div position="modal-dialog-centered" class="modal-body">
              <app-contracts-vehicles #vehiclesComponent></app-contracts-vehicles>
            </div>
          </div>
        </div>
    </div>
    <!-- Modal OFF -->
  <!-- Modal de confirmación ON-->
  <div class="modal fade" id="ContractModal" tabindex="-1" role="dialog" aria-labelledby="ContractModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ContractModalLabel">{{'ADMIN_ACCOUNT.DEL_MSSG_ACC1'|translate}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{'ADMIN_ACCOUNT.DEL_MSSG_ACC2'|translate}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-block btn-lg ui-button-secondary btn-disable" style="padding-bottom: 0;padding-top: 0;margin-top: 1%;max-width: 130px;font-size: 14px!important" data-dismiss="modal">{{'ADMIN_ACCOUNT.CANCEL'|translate}}</button>
          <button type="button" class="btn btn-block btn-lg ui-button-danger btn-enable" style="padding-bottom: 0;padding-top: 0;margin-top: 1%;max-width: 130px;color: white;font-size: 14px!important" data-dismiss="modal" (click)="deleteContract(tempId)">{{'ADMIN_ACCOUNT.ACCEPT'|translate}}</button>
        </div>
      </div>
    </div>
    <p-toast position="bottom-center"></p-toast>
  </div>
  <!-- Modal de confirmación OFF-->
</div>
<p-toast position="bottom-center"></p-toast>

