<div class="container">
  <h4>Formulario Usuario</h4>
  <form [formGroup]="accountForm">
   <div class="row space-rows">
     <div class="col-md">
       <p-radioButton id="radio_button" name="radio_button" [(ngModel)]="radio_button" formControlName="radio_button" value="ROLE_USER" label="Cliente" [hidden]="!roleAdmin"></p-radioButton>
     </div>
     <div class="col-md">
           <p-radioButton id="radio_button" name="radio_button" [(ngModel)]="radio_button" formControlName="radio_button" value="ROLE_ADMIN" label="Admin"  [hidden]="!roleAdmin"></p-radioButton>
     </div>
     
     <div class="col-md">
      <input class="form-control form-control-sm" name="accountadm_id" type="number" [(ngModel)]="accountadm_id" hidden formControlName="accountadm_id" pInputText >
    </div>
   </div>
   
  <div class="row space-rows">
    <div class="col-md">
      <label>Tipo de identificación</label>
      <select required class="form-control" formControlName="form_tipo" id="tipo_documento" name="tipo_documento" [(ngModel)]="tipo" pInputText>
        <option *ngFor="let ti of tipos" value="{{ti.value}}">{{ti.label}} </option>
      </select> 
    </div>
    <div class="col-md">
        <label>Identificacion</label>
        <input class="form-control form-control-sm" name="accountadm_idNumber" [(ngModel)]="accountadm_idNumber" formControlName="accountadm_idNumber" maxlength="20" type="text" size="30" required>
    </div>  
    <div class="col-md">
      <label>Nombre Completo</label>
      <input class="form-control form-control-sm" name="accountadm_name" type="email" size="30" [(ngModel)]="accountadm_name" formControlName="accountadm_name" pInputText maxlength="99" required>
    </div>
  </div>

  <div class="row space-rows">
    <div class="col-md">
      <label for="">Teléfono</label>
      <input class="form-control form-control-sm" name="accountadm_celNumber" [(ngModel)]="accountadm_celNumber" formControlName="accountadm_celNumber" type="number" size="30" min="1" pattern="^[0-9]+" required>
    </div>
  </div>
  <div class="row space-rows">
    <div class="col-md">
      <label for="">Contraseña</label>
      <input class="form-control form-control-sm" name="accountadm_password" [(ngModel)]="accountadm_password" formControlName="accountadm_password" type="password" size="30" min="6" required>
    </div>
  </div>

  <div class="row space-rows">
    <div class="col-md">
      <button pButton type="button" class="btn" style="margin-top: 25px" label="Guardar" (click)="onSaveUser()" [disabled]="!accountForm.valid" ></button>
    </div>
  </div>
</form>
</div>
<p-toast position="bottom-center"></p-toast>