<button class="arrow-back" style="margin-right:16px;" pButton label="{{'ADMIN_ACCOUNT.BACK'|translate}}" [routerLink]="['/HistoricAccount']"></button>

<p-tabView>
    <p-tabPanel header="{{'ADMIN_ACCOUNT.ADM_ACC'|translate}}" >
    <app-new-account [pkMapeId]="pkMapeId" (updateAccountEvent)="onUpdateAccount($event)"></app-new-account>
    </p-tabPanel>

    <p-tabPanel header="{{'ADMIN_ACCOUNT.ADM_CONTRACTS'|translate}}" *ngIf="account != null && (account['isTitular'] === true || account['isTitular'] === 'true')">
    <app-contracts-account [pkMapeId]="pkMapeId"></app-contracts-account>
    </p-tabPanel>

    <p-tabPanel header="{{'ADMIN_ACCOUNT.ADM_ADDRESS'|translate}}" *ngIf="account != null">
        <app-adress-account [pkMapeId]="pkMapeId"></app-adress-account>
    </p-tabPanel>

    <p-tabPanel header="{{'ADMIN_ACCOUNT.ADM_CONTACTS'|translate}}" *ngIf="account != null">
        <app-contact-account [pkMapeId]="pkMapeId" ></app-contact-account>
    </p-tabPanel>

</p-tabView>
