<!--<div pDroppable="cars" >
  <p-pickList #pl [source]="availableVehicles" [target]="assignedVehicles" sourceHeader="{{'ADMIN_ACCOUNT.AVAILABLE_VEHICLES'|translate}}" targetHeader="{{'ADMIN_ACCOUNT.ASSIGNED_VEHICLES'|translate}}" [showSourceFilter] ="true" [responsive]="true" filterBy="vhclNumberPlate" 
  dragdrop="true"  sourceFilterPlaceholder="{{'ADMIN_ACCOUNT.SEARCH_VEHICLES'|translate}}" targetFilterPlaceholder="{{'ADMIN_ACCOUNT.SEARCH_VEHICLES'|translate}}" [sourceStyle]="{'height':'300px'}" [targetStyle]="{'height':'300px'}">
  <ng-template let-car pTemplate="item">
    <div class="ui-helper-clearfix">
      <div style="font-size:14px;float:right;margin:15px 5px 0 0; min-width: 100px">{{car.vhclNumberPlate}}</div>
    </div>
  </ng-template>
  </p-pickList>
  <button type="button" class="btn btn-primary" style="background-color: #4D4D4D; border-color:#4D4D4D; margin-top: 20px; float: right; margin-right: 10px;" (click)="updateAssigned(assignedVehicles)">{{'ADMIN_ACCOUNT.SAVE_BUTTON'|translate}}</button>
  <button type="button" style="margin-top: 20px; padding:0px; color:#fff; cursor:none; border-color:#fff; background-color:#fff; float: left; margin-right: 50px;"  id="cli" pButton (click)="pl.resetFilter()" label=""></button>
</div>
<p-toast position="bottom-center"></p-toast>-->

<!--  0: {pkVeavId: 1704, pkVhclId: 25747, vhclNumberPlate: "858585", vhclLoginCreator: "TrackerCol"}-->

<div class="row">

<div class="container">

<div class="row">
    <div class="col-md-1"></div> 
    <div class="col-md-4 lineas">
    <h1 style="font-size: 14px;text-align: center; padding: .5em .75em;">Placas Disponibles</h1>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4 lineas">
      <h1 style="font-size: 14px;text-align: center; padding: .5em .75em;">Placas Asignadas</h1>
    </div>
    <div class="col-md-1"></div>

</div>

</div>

<div class="container">

  <div class="row"><!-- Search form -->
    <div class="col-md-1"></div> 
    <div class="col-md-4" style="border: solid 1px #ced4da;padding: 5px;margin: 0px;"><!-- Search form -->
      <input id="clear"  class="form-control" value="" type="text" 
      placeholder="{{'ADMIN_ACCOUNT.BUTTON_SEARCH'|translate}}" [(ngModel)]="filterText" (ngModelChange)="filterAvailable()" aria-label="Search"></div>
    <div class="col-md-2"></div>
    <div class="col-md-4" style="border: solid 1px #ced4da;padding: 5px;margin: 0px;"><!-- Search form -->
    <input class="form-control" type="text" 
      placeholder="{{'ADMIN_ACCOUNT.BUTTON_SEARCH'|translate}}" [(ngModel)]="filterText2" (ngModelChange)="filterAssigned()" aria-label="Search"></div>
    <div class="col-md-1"></div>
  
  </div>

</div>

<div class="col-md-1"></div>
<div class="col-md-4" style="border: solid 1px #ced4da;padding: 0px;margin: 0px 0px 20px 0px;">
  <div class="list-group" id="myDIV" style="overflow-y: scroll; height: 300px;">
    <a (click)="onLoadVehicles(item)" style ="text-align: center; font-size: 14px" class="btn btn2-active list-group-item list-group-item-action" *ngFor="let item of availableVehicles">
    {{item.vhclNumberPlate}}
    </a>
  </div>

</div>
<div class="col-md-2">  <i class="fas fa-"></i>
    <button class="btn center btn-active" (click)="assignAll()"><i class="fa fa-angle-double-right"></i></button>
    <button class="btn center btn-active" (click)="unassignAll()"><i class="fa fa-angle-double-left"></i></button>
</div>
<div class="col-md-4" style="border: solid 1px #ced4da;padding: 0px;margin: 0px 0px 20px 0px;">
  <div class="list-group" id="myDIV2" style="overflow-y: scroll; height: 300px;">
    <a (click)="dropVehicles(item)" style ="text-align: center; font-size:14px" class="btn btn2-active list-group-item list-group-item-action" *ngFor="let item of assignedVehicles">
      {{item.vhclNumberPlate}}
    </a>
  </div>
<div class="col-md-1"></div>
</div>

   <div class="container">
     <div class="row">
       <div class="col-md-8"></div>
       <div class="col-md-4">
          <button type="button" (click)="updateAssigned()" class="btn2" >Guardar</button>
       </div>
     </div>
   </div>
</div>
<p-toast position="bottom-center"></p-toast>