<div class="container">
 <form [formGroup]="addressForm">
  <div class="row space-rows">
    <div class="col-md">
      <label>{{'ADMIN_ACCOUNT.ADDRESS_TYPE_LABEL'|translate}}</label>
      <select class="form-control form-control-sm" name="addressadm_type" [(ngModel)]="addressadm_type" formControlName="addressadm_type" required>
        <option value="" disabled selected>{{'CHECK_LIST.SELECT_LABEL'|translate}}</option>
        <option *ngFor="let typeOfAddress_data of typeOfAddress_data" value="{{typeOfAddress_data.TypeOfAddress}}">{{typeOfAddress_data.TypeOfAddress}} </option>
      </select>
    </div>
    <div class="col-md">
      <label>{{'ADMIN_ACCOUNT.DEPARTMENT_LABEL'|translate}}</label>
      <select class="form-control form-control-sm" name="addressadm_state" [(ngModel)]="addressadm_state" formControlName="addressadm_state" (ngModelChange)="getCities()" required>
        <option value="" disabled selected>{{'CHECK_LIST.SELECT_LABEL'|translate}}</option>
        <option *ngFor="let state of states_data" value="{{state.pkStatId}}">{{state.statName}} </option>
      </select>    
    </div>
    <div class="col-md">
      <label>{{'ADMIN_ACCOUNT.CYTY_LABEL'|translate}}</label>
      <select class="form-control form-control-sm" name="addressadm_city" [(ngModel)]="addressadm_city" formControlName="addressadm_city" required>
        <option value="" disabled selected>{{'CHECK_LIST.SELECT_LABEL'|translate}}</option>
        <option *ngFor="let city of cities_data" value="{{city.pkCityId}}">{{city.cityName}} </option>
      </select>    
    </div>
  </div>

  <div class="row space-rows">
    <div class="col-md">
      <label>{{'ADMIN_ACCOUNT.NEIGHBORHOOD_LABEL'|translate}}</label>
      <input class="form-control form-control-sm" name="addressadm_neighborhood" [(ngModel)]="addressadm_neighborhood" formControlName="addressadm_neighborhood" type="text" size="30" maxlength="30" required>
    </div>
    <div class="col-md">
      <label>{{'ADMIN_ACCOUNT.ADDRESS_LABEL'|translate}}</label>
      <input class="form-control form-control-sm" name="addressadm_address" [(ngModel)]="addressadm_address" formControlName="addressadm_address" type="text" size="30" maxlength="50" required>
    </div>
  </div>

  <div class="row space-rows">
    <div class="col-md">
      <label>{{'ADMIN_ACCOUNT.CODE_AREA'|translate}}</label>
      <input class="form-control form-control-sm" name="addressadm_areacode" [(ngModel)]="addressadm_areacode" formControlName="addressadm_areacode" (ngModelChange)="validateLenght('addressadm_areacode',3)" type="number" size="3" min="1" pattern="^[0-9]+" required>
    </div>
    <div class="col-md">
      <label>{{'ADMIN_ACCOUNT.TELEPHONE_LABEL'|translate}}</label>
      <input class="form-control form-control-sm" name="addressadm_telephone" [(ngModel)]="addressadm_telephone" formControlName="addressadm_telephone" (ngModelChange)="validateLenght('addressadm_telephone',11)" type="number" size="30" min="1" pattern="^[0-9]+" required>
    </div>
    <div class="col-md">
      <label>{{'ADMIN_ACCOUNT.CELPHONE_LABEL'|translate}}</label>
      <input class="form-control form-control-sm" name="addressadm_celphone" [(ngModel)]="addressadm_celphone" formControlName="addressadm_celphone" (ngModelChange)="validateLenght('addressadm_celphone',15)" type="number" size="30" min="1" pattern="^[0-9]+" required>
    </div>
  </div>
  
  <div class="row space-rows">
    <div class="col-md align-self-end">
      <button pButton type="submit" class="ui-button-secondary" label="{{'ADMIN_ACCOUNT.SAVE_BUTTON'|translate}}" (click)="actionAddress(pkAdpeId,pkMapeId)" [disabled]="!addressForm.valid || loading"></button>
    </div>
  </div>
  <p-progressBar mode="indeterminate" *ngIf='loading' [style]="{'margin-top':'20px', 'margin-bottom':'20px', 'height': '6px'}" ></p-progressBar>
</form>

  <div class="row space-rows">
    <p-table [resizableColumns]="true" [value]="filteredList">
        <ng-template pTemplate="caption">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="50" maxlength="35" placeholder="{{'ADMIN_ACCOUNT.BUTTON_SEARCH'|translate}}" [(ngModel)]="filterText" (ngModelChange)="filter()" style="width:auto">
            <p style="position:absolute; top:10px; right: 50px; color:#333; font-weight: 500">Ayuda</p><i style="background-color:#0470B0!important;" class="fas fa-info help-tip">
                <p>
                    <i class="fas fa-times"></i> &nbsp;&nbsp;Eliminar Dirección
                    <br>
                    <br>
                    <i class="fas fa-pencil-alt"></i> &nbsp;Actualizar Dirección
                   
                </p>
                </i>         
          </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="word-wrap: break-word; text-align:center;" [pSortableColumn]="col.field" *ngFor="let col of cols">
                    {{col.header|translate}}
                    <p-sortIcon [field]="col.field"></p-sortIcon>
                </th>
                <th style="word-wrap: break-word; text-align:center;width: 170px">{{'ADMIN_ACCOUNT.ACTION_TABLE'|translate}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr>
                <td style="word-wrap: break-word" *ngFor="let col of cols">
                        {{data[col.field]|translate}}
                  </td>
                <td>
                  <div style="display: flex; justify-content: center;"  class="mx-auto">
                  <button pButton type="button" icon="fas fa-times" style=" margin-right:3%;" class="btn ui-button-danger btn-enable"  (click)="bindinDelete(data.pkAdpeId)" data-toggle="modal" data-target="#AddressModal"></button>
                  <button pButton type="button" icon="fas fa-pencil-alt" style=" margin-right:3%;" class="btn  ui-button-secondary btn-disable"  (click)="showAddress(data)"></button>
                  </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
  </div>
  <!-- Modal de confirmación ON-->
  <div class="modal fade" id="AddressModal" tabindex="-1" role="dialog" aria-labelledby="AddressModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="AddressModalLabel">{{'ADMIN_ACCOUNT.DEL_MSSG_ADDR1'|translate}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">
            {{'ADMIN_ACCOUNT.DEL_MSSG_ADDR2'|translate}}
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-block btn-lg ui-button-secondary btn-disable" style="padding-bottom: 0;padding-top: 0;margin-top: 1%;max-width: 130px;font-size: 14px!important" data-dismiss="modal">{{'ADMIN_ACCOUNT.CANCEL'|translate}}</button>
              <button type="button" class="btn btn-block btn-lg ui-button-danger btn-enable" style="padding-bottom: 0;padding-top: 0;margin-top: 1%;max-width: 130px;color: white;font-size: 14px!important" data-dismiss="modal" (click)="deleteAddress(tempId)">{{'ADMIN_ACCOUNT.ACCEPT'|translate}}</button>
          </div>
          </div>
      </div>
      <p-toast position="bottom-center"></p-toast>
  </div>
  <!-- Modal de confirmación OFF-->
</div>
<p-toast position="bottom-center"></p-toast>