.sidebar {
  border-radius: 0;
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 235px;
  width: 235px;
  height: 100vh;
  margin-left: 235px;
  margin-bottom: 48px;
  margin-top:200px;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
  // border-top: 1px solid rgba(255,255,255,0.3);
  .list-group {
      a.list-group-item {
          border: 0;
          border-radius: 0;
          color:#0000;
          text-decoration: none;
          .fa {
              margin-right: 10px;
          }
      }
      
  }
}
