//botones
.login {
  border-radius: 0;
  position: fixed;
  z-index: 1000;
  top: 0px;
  left: 235px;
  width: 500px;
  height: 100vh;
  margin-top:100px;
  margin-left: 300px;
  margin-bottom: 48px;
  border: none;
  border-radius: 0;
  overflow-y: auto;
  bottom: 0;
  overflow-x: hidden;
  padding-bottom: 40px;
}
.ui-button-black{

    color: #fff;
    background-color: #495057!important;
    border: 1px solid #000;
  
  }
  
  .ui-button-danger {
  
    color: #fff;
    background-color: #e31b23!important;
    border: 1px solid #e31b23;
  }