<nav class="login" [hidden]="isSession">
<section class="section-header">
  <div class="row">
    <div class="col-md-6">
    </div>
  </div>
</section>

<section class="section-content">

  <form [formGroup]="sessionForm"> <!-- Datos personales -->
  <div class="input-group mb-3">            
               <select required class="form-control" formControlName="form_tipo" id="tipo_documento" name="tipo_documento" [(ngModel)]="tipo" pInputText>
                 <option  value='null' selected>Seleccione</option>
                  <option *ngFor="let ti of tipos" value="{{ti.value}}">{{ti.label}} </option>
                </select> 
   </div>
  <div class="input-group mb-3">
      <input type="text" required class="form-control" formControlName="form_identificacion" placeholder="Identificacion" aria-label="Identificacion" [(ngModel)]="identificacion">
  </div>

  <div class="input-group mb-3">
      <input type="password" placeholder="password" required class="form-control" maxlength="20" formControlName="form_password" id="password" name="password" [(ngModel)]="password" pInputText>
  </div>

  <div class="input-group mb-3">
      <button pButton type="button" class="btn" style="margin-top: 25px" label="Iniciar Sesión" (click)="onSubmit()" [disabled]="!sessionForm.valid" ></button>  
  </div>
  <div class="input-group mb-3">
    <button pButton type="button" class="nav-link active" class="btn" style="margin-top: 25px" routerLink="/NewAccountComponent" label="Registrarse" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"></button>
     
</div>

                
  </form>
</section>
<p-toast position="bottom-center"></p-toast>
</nav>